.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}
.section-footer{
    padding: 100px 0;
}
.footer-description {
    color: #F4F4FD;
}

.footer-logo:hover{
     color: #F4F4FD;
}
.footer-copyright-container{
    max-width: 269px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}