.header-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E7E9FC;
}
.header-logo{
    margin-right: 74px;
}
.email-num-color {
    color: #434455;
}
.nav-list,.address-list{
    display: flex;
    padding: 24px 0 24px 0;
    column-gap: 40px;
}
.header-address{
    margin: 0 0 0 auto;
}
.nav-list-item > a{
    font-weight: 500;
}
