.hero{
    background-color: #2E2F42;
}
.hero-h1{
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.02em;
}
.hero-btn{
    background-color: #4D5AE5;
    color:  #FFFFFF;
    letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #404BBF;
}