.team {
    background-color: #f4f4fd
}

.list-team {
    display: flex;
    column-gap: 24px;
}

.team-list-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
}
.team-list-item > img {
    display: block;
}
.team-list-item>h3 {
    text-align: center;
}

.team-list-item>p {
    text-align: center;
}
.team-list-item-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
    row-gap: 8px;
}